
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

body {
    padding-top: 54px;
    font-family: 'Raleway', sans-serif;
    background: #e6e6e6;
    color:#4d4d4d;
 }

 .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
 	float: left;
 }

.clear{
	clear:both;
}

:focus{
	outline: none;
}

 /*Estilos barra de desaplzamiento*/

body::-webkit-scrollbar-track
{background-color:#e5e5e5;}

body::-webkit-scrollbar
{width: 7px;}


body::-webkit-scrollbar-thumb
{background-color: #404040!important; }


 .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

@media (max-width: 992px) {
    .hideMe{
        display: none;
    }

    body {
        padding-top: 75px;
    }
}

a:hover{
	text-decoration: none;
}

.navbar-collapse ul li a{
	text-align: center;
}

@media (min-width: 768px){
	.colLeft{
		float: left;
		padding-left: 0;
		padding-right: 8px;
	}

	.colRight{
		float: right;
		padding-right: 0;
		padding-left: 7px;
	}

}

@media (max-width: 768px){
	.colLeft{
		padding:0;
	}

	.colRight{
		padding:0;
	}

	#profilePic, #edit{
		display: none
	}

	#barraLateral{
		min-height: 0!important;
	}

	#contenido{
		padding-top: 30px!important;
	}

	form [type=reset], form [type=submit]{
		margin-bottom: 10px
	}
}

.logoCargados{
	font-size: 21px;
	color:white;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 2em;
	margin-bottom: 0
}

.logoCargados span{
	font-weight: 400;
	font-size: 18px;
	text-transform: none;
}

.bg-dark{
	background: #eb721c!important;
	box-shadow: 10px 0 15px 0px rgba(0,0,0,0.2);
}

.boton{
	padding: 5px 8px;
	text-align: center;
}

.boton img{
	float: left;
	margin-right: 5px;
}

.boton p{
	margin-bottom: 0;
	clear: both;
	text-align: center;
    font-weight: 400;
}

@media(min-width: 992px){
	.conImg p{
	padding-right: 30px;
	}
}

.naranja{
	background: #eb721c;
	color:white;
	border:1px solid #eb721c; 	
}

.naranja:hover{
	color:white;
}

.naranja:focus{
	color:#eb721c;
}

.contBlanco .blanco:hover{
	background: #eb721c;
	color:white;

}

.blanco{
	background:white;
	color: #eb721c;
	border:1px solid #eb721c;
}

footer{
	background:#1a1a1a;
}

footer a:hover{
	text-decoration: none;
}

#redes{
	margin:25px auto;
	width: 160px;
	    float: right;
}

@media(max-width: 768px) {
	#redes{
		position: relative;
		bottom: 30px;
		float: none
	}
}

@media(max-width: 575px){
	#logoFooter{
		display: none
	}
}

#redes li{
	float: left;
	margin: 5px;
	list-style: none
}

#redes li a{
	width:30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	float: left;
	background: white;
}

#redes li a img{
	width:20px;
	margin-top: 5px
}

#language{
	background: rgba(0,0,0,0);
	border:none;
	color:white;
	cursor:pointer;
}

#language *{
	color:#404040;
	padding: 5px 10px
}

#barraLateral{
	min-height: calc(100vh - 147px);
	background: white;
	padding:0; 
}

#profilePic{
	max-width: 100px;
	margin:25px auto;
	border-radius:50px;
	overflow: hidden;
	margin-bottom: 0;
}

#edit, #editP{
	cursor:pointer;
	position: relative;
    top: -20px;
    left: 50px;
}

#barraLateral h2{
	font-size: 24px!important;
	font-weight: 700!important;
	margin-top:0;
	position: relative;
	bottom: 10px;
	    margin-bottom: 0;

}

#barraLateral ul{
	margin:0;
	padding:0;
}

#barraLateral ul li:first-child{
	border-top:2px solid #e6e6e6;
}

#barraLateral ul li{
	list-style: none;
	padding:0;
	clear: both;

}

#barraLateral ul li a{
	width:100%;
	padding:6px 10%;
	display: block;
	background: #f2f2f2;
	border-bottom:2px solid #e6e6e6;
	height: 55px
}

#barraLateral ul li a:hover{
	background: #fafafa;
}

#barraLateral ul li a img{
	float:left;
}

#barraLateral ul li a span{
	float:right;
	padding: 3px 10px 7px;
	line-height: 20px;
	font-size: 22px;
	margin-top: 5px;
	border-radius: 5px;
	width:30px;
	text-align: center;
	position: absolute;
    right: 8%;
}

.danger{
	background:#e44322; 
	color:white;
}

.warning{
	background: #eb721c;
	color:white;
}



#barraLateral ul li a h3{
	font-size: 15px;
	color:#4d4d4d;
	float: left;
	line-height: 40px;
	font-weight: 700;
	margin-left: 15px
}

#active{
	background: white!important;
	cursor: initial;
	pointer-events: none
}

#arrow{
	float: right!important;
	margin-top: 13px!important;
	transform: rotate(0deg);
}

.arrowRight{
	padding-top: 13px!important;
	margin-left: 20%;
}

.submenu{
	display: none;
}

.submenu a{
	background: #fafafa!important;
}

.submenu a:hover{
	background: white!important;
}

#contenido{
	padding-top: 90px
}

#contenido h2{
	font-size: 24px;
	margin-bottom: 20px
}

.contBlanco{
	background: white;
	padding: 20px;
	margin-bottom: 15px!important;
}

#contenido h3{
	font-weight: 700;
	text-align: left;
	font-size: 22px;
	color:#4d4d4d;
	text-transform: uppercase;
	margin-left: 10px;
	margin-bottom: 15px;
}

table{
	width: 100%
}

.contBlanco table td{
	min-width: 60px;
	font-size: 0.9em;
	padding: 10px 0;
}

@media(max-width: 768px){
	.contBlanco table td {
    min-width: 60px;
   }
}

.contBlanco table tr:last-child td{
	padding-bottom: 0
}

.contBlanco table thead{
	border-bottom: 2px solid #4d4d4d;
}

.tdEdit, .tdTrash{
	min-width: 30px!important;
}

.noPago{
	color:#e44322;
}

.noPago:hover{
	color:#cb371f;
}

#breadcrumb{
	text-align: left;
	position: relative;
	top:15px;
	margin-bottom: 24px
}

#breadcrumb a{
	color:#eb721c;
}


.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(235,114,28,.55);
    border-color: #ffffff!important;
}

form label{
	font-weight: 700;
	color: #808080;
	text-align: left;
	float: left;
	clear: both;
	white-space: nowrap;
}

form label span{
	font-weight: 400;
}

form input[type="text"], form input[type="number"], form input[type="password"], form input[type="email"], form select, .resultado {
	border-radius: 5px;
	border:2px solid #cccccc!important;
	border-bottom:4px solid #cccccc!important;
	margin-bottom: 15px;
}

form input[type="text"], form input[type="number"], form input[type="password"], form input[type="email"], form select {
	height: 40px!important;
}

.location{
	background:url('../imgs/locationPin.svg');
	background-repeat: no-repeat;
	background-position: center right;
}

form iframe{
	margin: 10px 0;
}

#precio{
	color:#808080!important;
	clear: both;
}

.datetimepicker{
	background:url('../imgs/calendar.svg');
	background-repeat: no-repeat;
	background-position: center right;
}

form [type=reset], form [type=submit]{
	width: auto;
	padding: 5px 20px; 
	float: right;
	margin-left: 15px;
	color:white;
	cursor: pointer;
}

form [type=reset]{
	background: #999999;
}

form [type=submit]{
	background: #eb721c;
}

#selectVehiculo{
	max-width: 200px;
	float: left;
	clear: both;
}

#agregaUnVehiculo{
	float: left;
	margin:6px 10px;
}

#agregaUnVehiculo a{
	font-weight: 700;
	color:#eb721c;
}

.resultado{
	clear: both;
	margin-top: 20px;
	padding-top: 10px;
}

.resultado p{
	clear:both;
	margin-bottom: 5px;
	text-align: left;
}

.resultado [type=submit]{
	margin-left: 0!important;
	padding: 5px 10px;
	float: none;
    margin-bottom: 15px;
}

.verMas{
	display: none;
}

.borderBottom{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}

.aclaracion{
	padding-left: 25px;
	text-align: left;
	font-size: 14px; 
	line-height: 15px;
}

.vehiculo{
	margin-right: 5px
}

.cartel{
	float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
}

.deuda{
	background: rgba(228,67,34,0.9);
	color:white;
}

#datos p{
	margin-bottom: 5px
}

#mercadoPago{
	background:#eb721c;
	border-radius: 5px;
	padding:10px 20px;
	color:white;
}

.carousel-caption{
	top:30%;
	max-width: 950px;
	margin: 0 auto
}

@media(max-width: 992px){
	.carousel-caption{
		top:20%;
	}	
}

@media(max-width: 768px){
	.carousel-caption{
		top:10%;
	}	
}

.carousel-caption h2{
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	top:50px;
}

.carousel-caption h3{
	border-bottom: 3px solid white;
	margin-bottom: 20px
}

.carousel , .carousel-inner{
    min-height: 500px;
}

.pinA{
	float: left;
	position: relative;
	left: -25px;
	top: 4px;
}

.pinB{
	float: right;
	position: relative;
	right: -25px;
	top: 4px
}

.carousel-indicators li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-top: 5px;
	margin-right: 5px;
    margin-left: 5px;
}

.carousel-indicators .active{
	width: 25px;
	height: 25px;
	margin-top: 0;
}

.cta{
	background: #1a1a1a;
	padding:40px 0;
}

.cajita h3{
	font-weight: 700;
	font-size: 24px
}

.cajita{
	color:white;
	padding:0px 5%;
	height: 300px;
}

@media(max-width: 1200px){
	.cajita{
		padding:0px 3%!important;
		height: 330px;
	}
}

#contenedorCta{
max-width: 600px; margin: 0 auto
}

@media(max-width: 768px){
	#btnRegistro{
		float: none!important
	}

	#contenedorCta{
		max-width: 100%;
	}

	#contenedorCta h2{
		float: none!important;
		line-height: 1.3;
		margin-bottom: 10px;
	}
}

@media(max-width: 575px){
	.cajita{
		padding:0px 3%!important;
		height: auto;
	}
}

#copyright{
	background: #333333;
	padding: 10px 0;
}

#copyright p, #copyright a, #copyright a:hover{
	color:#b3b3b3;
	margin-bottom: 0
}

.resultado .naranja{
	margin-bottom: 15px;
}


.fullscreen-bg video{
	position: fixed;
	right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

.gris{
	background:#f2f2f2;
	margin: 65px auto 55px auto;
	padding: 30px 0;
}

.gris h2{
	color:#eb721c;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 22px;
	margin-top:10px;
}

footer{
	z-index: 9999;
}

.gris form{
	margin:20px auto;
}

.gris [type=submit]{
	float: none!important;
	margin-top: 10px;
}

@media(max-width: 768px){
	.fullscreen-bg video{
		display: none
	}

	.fullscreen-bg{
		position: fixed;
		right: 0;
	    bottom: 0;
	    min-width: 100%; 
	    min-height: 100%;
	    z-index: -1;
	    background: #333333
	}
}

.gris #vinculo{
	margin-top: 20px;
}

.gris #vinculo a{
	font-weight: 700;
	color:#eb721c;
}

#beneficios{background: #eb721c; padding: 50px 0 90px 0;}

#porQue{
	cursor: pointer
}

#video{
	background: url('../imgs/ola.svg');
	background-position: bottom center;
	padding:50px 0;
	background-size: contain;
	background-repeat: no-repeat;
}

#contVideo{
	background: url('../imgs/laptop.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 3% 11% 7% 11%;

}

.steps{
	padding: 0px 0 40px;
}

.steps h2{
	font-weight: 800;
	border:1px solid;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 20px auto;
}

.steps h3{
	font-size: 20px;
}

.cajita p{
	margin-bottom: 0
}

.carousel-caption p {
    max-width: 768px;
    margin: 0 auto;
}

.alerta{
	background: rgba(250, 50, 50, 0.85);
	color:white;
	padding: 7px 0;
	margin-bottom: 20px;
	border-radius: 5px;
	position: relative;
	bottom: 5px
}

#forgot{
	margin-bottom: 15px;
	display: block;
}